body{
	background-color: #89a6d1;
}
table.count{
	margin-top : 5%;
}
tr.pair{
	background-color : rgba(255,255,255,0.1);
}

tr.impair{
	background-color : rgba(0,0,0,0.1);
}

tr.pair a{
	color : #EEE;
	background-color : #F00;
}

tr.pair a:hover { background-color : #E00 }
tr.impair a:hover { background-color : #E00 }
tr.impair a{
	color: #EEE;
	background-color : #F00;
}
		